html, body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container {
    margin: 80px auto 0 auto;
    max-width: 1200px;
}

.nav-container {
    margin: auto;
}

/*  Post textarea */
textarea {
    position: sticky;
    padding: 20px;
    /* margin-bottom: 20px; */
    margin-top: 2%;
    font-size: 16px;
    color: rgb(0, 0, 32);

    border-radius: 25px;
    border: 1px solid lightgray;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, .5);

    min-width: 78%;
    resize: none;
}


/*  Progress bar for uploading images */
.progress-bar {
    height: 5px;
    background: navy;
}

/*  Home Page Photos + Posts */
.upload-post-div {
    width: 680px;
    height: 240;

    margin: 40px auto;
    position: relative;
    border: 1px solid lightgray;
    border-radius: 2vw;
    background: #fff;
    box-shadow: 5px 1px 10px rgba(0, 0, 0, .5);
}

.button-row {
    margin-top: -3%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.upload-post-div img {
    max-width: 10%;
    /* The user profile image width is 8% the size of the div */
    margin-top: -7%;
    /* The left hand margin for the user profile image is 6% the div */
    margin-right: 3.5%;
    margin-left: 4%;
}

.home-grid {
    display: grid;
    /*  displayed in a grid  */
    grid-template-columns: 1fr;
    /*  1 Coloumn with equal width of 1 fraction of the grid  */
}

/* Image Preview */
.img-upload-preview {
    margin-left: 107%;
    margin-top: -33%;
    /* padding-top: 10%; */
    overflow: hidden;
    height: 0;
    /*  height is 0  */
    width: 50%;
    padding: 18% 0%;
    /*  The padding is 10% up and down and 0 left and right  */
    /*  Padding controls height, will always be perfectly square 
                            regardless of width of the page if there is no height*/
    position: absolute;
    border: 1px solid blue;

    /*  becauase the postion inside (.img-wrap img) is absolute  */
}

.img-upload-preview img{
    min-width: 90%;
    /*  Taking the full width of the square avalible  */
    min-height: 0%;
    /*  Taking the full width of the square avalible  */
    max-width: 0%;
    top: 0;
    left: 0;

    position: absolute;
    border: 1px solid lightgray;
    border-radius: 1vw;
    box-shadow: 5px 2px 10px rgba(0, 0, 0, .5);
    text-align: center;
}

/*  ImagePop  */
.backdrop {
    /*  the thing that surrounds the image fading the background */
    position: fixed;
    /*  fixed position in the top left  */
    top: 0;
    left: 0;
    width: 100%;
    /*  width and height span the entire window  */
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    /*  background and semi transparent  */
}

.backdrop img {
    /*  The image inside the backdrop  */
    display: block;
    /*    */
    max-width: 60%;
    /*  60% the width of the screen  */
    max-height: 80%;
    /*  80% the width of the screen  */
    margin: 100px auto;
    /*  100px top and bottom, auto left and right (positioning the image in the middle of the screen */
    box-shadow: 3px 5px 7px rgba(0, 0, 0, 0.5);
    /*  To add depth    */
    border: 3px solid white;
}

/* News Images */
.news-image {
    display: flex;
    /* max-width: 50px;
    max-height: 50px; */
    width: 400px;
    height: 300px;
    object-fit: cover;
}

/* Profile Pic on profile page */
.profile-container {
    display: inline-block;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 200px;
    border-radius: 100%;
    border: 1px solid black;
    text-align: center;
    position: relative;
    overflow: hidden;
}

.profile-image {
    /* display: flex;
    margin: 0 auto;
    width: 200px;
    height: 200px;
    object-fit: contain; */
    width: 100%;
    height: 100%;
    position: relative;
    object-fit: cover;
    top: 0;
    left: 0;
}